*{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    list-style: none;
    text-decoration: none;
}

/*title bar*/
header{
    position:fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:33px 9%;
    background: transparent;
    transition: all .120s ease-in-out;
}

/*logo*/
.logo{
    font: size 30px;
    font-weight: 700;
    color:rgb(255, 255, 255)

}
/*navilist*/
.navlist{
    display: flex;
    

}
/*navilist*/
.navlist a{
    color: rgb(255, 255, 255);
    margin-left: 30px;
    font-size: 15px;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    transition: all .55s ease-out;

}
/*navilist:hover*/
.navlist a:hover{
    border-bottom: 2px solid whitesmoke;


}
/*menu-icon*/
#menuicon{
    color:rgb(255, 255, 255);
    font-size: 40px;
    z-index: 10001;
    margin-right: 18px;
    cursor: pointer;
    display: none;
}
/*hero*/
.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg,lightblue 0%,#ccd7ed 28%,rgb(58, 186, 236) 75%);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
}
/* section*/
section{
    padding: 0 10%;
}
/*hero-text*/
.hero-text h5{
    font-size: 25px;
    font-weight: 400;
    color: white;
    margin-bottom: 20pxpx;

}
.hero-text h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 70px;
    line-height: .9;
    color: white;
    margin: 0 0 25px;
}
.hero-text h3{
    color: whitesmoke;
    margin-bottom: 20px;
    
    
}
.hero-img img{
    width: 800px;
    height: 100%;
}
.hero-text a{
    display: inline-block;
    color: white;
    background: linear-gradient(245.59deg,lightblue 0%,#ccd7ed 28%,rgb(58, 186, 236) 75%);
    border: 1px solid transparent;
    padding: 7px 30px;
    border-radius: 90px;
    line-height: 1.4;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    transition: all .5s ease-in-out;
}
.hero-text a:hover{
    background: transparent;
    border:2px solid white ;
    transform: translatey(8px);
}
.hero-text a.new:hover{
    background: linear-gradient(245.59deg,lightblue 0%,#ccd7ed 28%,rgb(58, 186, 236) 75%);
    border:2px solid white ;
    transform: translatey(8px);
}
.hero-text a.new{
    display: inline-block;
    color: white;
    background:transparent;
    border: 1px solid white;
    padding: 7px 30px;
    border-radius: 90px;
    line-height: 1.4;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    transition: all .5s ease-in-out;
}
/*icons-side la erukurathu*/
.icon{
    position: absolute;
    top:50%;
    padding: 0 5%;
    transform: translateY(-50%);

}
.icon i{
    display: block;
    margin: 26px 0;
    font-size: 24px;
    color: white;
    transition: all .50s ease;
}
.icon i:hover{
    color:rgb(169, 235, 240);
    transform: translateY(-5px);
}
.scroll-down{
    position: absolute;
    bottom: 6%;
    right:8%;
}
.scroll-down i{
    display: block;
    color: white;
    padding: 12px;
    font-size: 25px;
    background: rgb(169, 235, 240);
    border: 12px;
    border-radius: 30px;
    transition: all .55s ease;
}
.scroll-down i:hover{
    transform: translatey(10px);
}
@media (max-width:1539px){
    header{
        padding:15px 3%;
        transition: .2s;
    }
    .icon{
        padding: 0 3%;
        transition: .2s;
    }
    .scroll-down{
        right: 3%;
        transition: .2s;
    }
}
@media (max-width:1460px){
    section{
        padding: 0 12%;
        transition: .2s;
    }
}
@media (max-width:1340px){
    .hero-img img{
        width: 100%;
        height: auto;
    }
    .hero-text h1{
        font-size:75px;
        margin: 0 0 30px;
    }
    .hero-text h5{
        margin-bottom: 25px;
    }
}
@media (max-width:1195px){
    section{
        padding: 0 3%;
        transition: .2s;
    }
    .hero-text{
        padding-top: 115px;
    }
    .hero-img img{
        width: 560px;
        height:auto;
    }
    .hero{
        height: 100%;
        gap:1rem;
        grid-template-columns: 1fr;
    }
    .icon{

    display: none;
    }
    .scroll-down{
        display: none;
    }
}
@media(max-width:990px){
    #menuicon{
        margin-left: 20px 0;
        display:block ;
    }
    .navlist{
        position: absolute;
        top:100%;
        right: -100%;
        width: 300px;
        height: 40vh;
        background-color: #ccd7ed;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding:50px;
        transition: all .55s ease;
    }
    .navlist a{
        display: block;
        margin-left: 0;
        margin:10px 0;
        

    }
    .navlist.open{
        right: 0;
    }
}
@media(max-width:680px){
    .hero-img img{
        width: 100%;
        height:auto;
        margin: -29px;
    }
    .hero-text h1{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 60px;
        line-height: .9;
        color: white;
        margin: 0 0 25px;
    }
}
/*login signup page css files*/
.login{
    height: 100vh;
    background: url(img/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    position: center;
    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 400px;
    justify-content: center;
    align-items: center;
}

input{
    padding: 10px 36px;
    margin: 5px;
    width: 210px;
}
.libut{
    padding: 10px 20px;
    text-decoration: none;
    background:linear-gradient(245.59deg,lightblue 0%,#ccd7ed 28%,rgb(58, 186, 236) 75%);
    color: rgb(101, 92, 86);
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.lgn{
    margin-top: 30px;
    margin-bottom: 30px;
}
#login{
    padding: 12px 46px;
    text-decoration: none;
    background:linear-gradient(245.59deg,lightblue 0%,#ccd7ed 28%,rgb(58, 186, 236) 75%);
    color: rgb(101, 92, 86);
}

#pass{
    margin-bottom: 10px;
}
#signup{
    padding: 10px 46px;
    text-decoration: none;
    color: black;
    border: 2px solid rgb(214, 238, 238);
}

#fgpass{
    text-decoration: none;
    color: teal;
}

#loginBtn{
    padding: 10px 120px;
    text-decoration: none;
    background: linear-gradient(245.59deg,lightblue 0%,#ccd7ed 28%,rgb(58, 186, 236) 75%);
    color: rgb(101, 92, 86);
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.sgnUp{
    display: flex;
    
}

#member{
    margin-right: 5px;
}

#sgn_now{
    text-decoration: none;
    color: teal;
}
